<h2>Change of Application Status</h2>
<p>Dear <%= Body.Name %>,</p>
<p>We are writing to inform you that the status of your application for [Position Name] has been updated. The new status is: <strong><%= Body.Status %></strong>.</p>
<p>Please log in to your account on our website to view the details of this status change and any additional information related to your application.</p>
<p>Thank you for your interest in our organization.</p>
<p>Sincerely,</p>
<p>Music Box</p>